[submodule "include/SFML"]
	path = include/SFML
	url = https://github.com/SFML/SFML
[submodule "extlibs/Signals"]
	path = extlibs/Signals
	url = https://github.com/pbhogan/Signals
[submodule "extlibs/SFML"]
	ignore = dirty
	path = extlibs/SFML
	url = https://github.com/SFML/SFML
[submodule "test/extlibs/unittest-cpp"]
	path = test/extlibs/unittest-cpp
	url = https://github.com/unittest-cpp/unittest-cpp
